@import "../helpers/mixins.module";


.home{
    color:black;
    font-size: 60px;

    .hi{
        font-size: 40px;
    }
}
.welcome_text{
    @include fontColor($default-font-size,$color-primary,$fw-normal);
    padding-bottom: 1rem;
    span{
        @include fontColor($font-size-xbig,$color-primary,$fw-medium);
        text-transform: capitalize;
    }
}
.card_container{
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap:2rem;

    @include respond(tab-port) {
        display: flex;
        flex-direction: column;
      }
}