@import "../helpers/variables.module";
@import "../helpers/mixins.module";

.login{
    display: grid;
    grid-template-columns: repeat(2,minmax(0,1fr));
    padding: 3rem;
    gap: 2rem;

    @include respond(tab-port ){
       display: block;
    }
}
.first_container_grid{
    display: grid;
    gap: 8rem;
}
.company_good{
    display: flex;
    gap: .5rem;
    align-items: center;
    // background-color: $color-black;

    .company_title{
        font-size: 2rem;
        font-weight: 700;
        color: $color-primary;
    }
}
.image_container{
    width: 100%;
    height: 335px;
    @include respond(tab-port ){
        display: none;
     }
    img{
        height: 100%;
        width: 100%;
        object-fit: contain;

       
    }
}

// second container
.second_container_grid{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
    width: 100%;
    padding: 3rem;
    @include respond(phone ){
        padding: 3rem .5rem;
     }
}
.welcome_container{
    display: grid;
    gap: .5rem;

    .title{
        font-size: 4rem;
        font-weight: 700;
        color: $color-primary;
        padding: 0;
        margin: 0;
    }
    .text{
        font-size: 2rem;
        font-weight: 400;
        color: $color-primary;
        padding: 0;
        margin: 0;
    }


}

.form{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    .form_input{
        font-size: 1.4rem;
        color: $color-primary;
        width: 100%;
    }
    .form_input:focus-visible:focus-within{
        outline: none;
    }
}
.input_container{
    border-width: 2px;
    border-color: rgba(84, 95, 125, 0.15);
    border-radius: 5px;
    padding: .5rem;
    display: flex;
    justify-content: space-between;
}

.show_button{
    color: $btn-color;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 600;
}
.submit_button{
    background-color: $btn-color;
    border-radius: 8px;
    padding: 1rem;
    text-transform: uppercase;
    font-size: 1.4rem;
    color: $color-white;
    font-weight: 600;
}
