@import "../helpers/mixins.module";

.card_container{
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap:2rem;

    @include respond(tab-port) {
        display: flex;
        flex-direction: column;
      }
}
.other_container{
    display: grid;
    gap: 3rem;
    padding-bottom: 8rem;
}