@import "../helpers/mixins.module";
@import "../helpers/variables.module";

.other_container{
    display: grid;
    gap: 3rem;
    padding-bottom: 8rem;
}
.header_flex{
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include respond(phone ){
        flex-direction: column;
        gap: 1rem;
    }

    div{
        display: flex;
        align-items: center;
        gap: 1.5rem 
    }
}
.back_btn{
    @include fontColor($font-size-medium,$color-primary-light,$fw-normal);
    display: flex;
    align-items: center;
    gap: 1rem
}
.btn{
    @include fontColor($font-size-medium,$color-primary,$fw-semibold);
    text-align: center;
    border: 1px solid;
    border-radius: 8px;
    padding: .8rem;
}
.blacklist{
    color: $color-red;
    border-color: $color-red;
}
.activate{
    color: $btn-color;
    border-color: $btn-color;
}