@import "../helpers/variables.module";

.card{
    box-shadow:3px 5px 20px 0 $shadow-color;
    padding: 2rem;
    background-color: $color-white;
    border-radius: 4px;
    display: grid;
    gap: 1rem;

    img{
        height:40px;
        width:40px;
        object-fit: contain;
    }

    .text{
        color: $color-primary-light;
        font-size: $font-size-medium;
        font-weight: $fw-medium;
        font-family: work sans ;
        text-transform: uppercase;
    }
    .number{
        color: $color-primary;
        font-size: 2.4rem;
        font-weight: $fw-semibold;
        font-family: work sans ;
    }
}