@import "../helpers/variables.module";

.table {
    width: 100%;
    border-collapse: collapse;
    background-color: $color-white;
    
     th,
     td {
      padding: 10px;
      border: 1px solid #ddd;
      text-align: left;
    }
  }
  