@import "../helpers/variables.module";
@import "../helpers/mixins.module";


.other_container{
    display: grid;
    gap: 3rem;
    margin-bottom: 3rem;
    position: relative;
}
.other_container:not(:last-child):after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background-color: $color-primary;
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    // border-bottom: 1px solid $color-primary;
    opacity: .1;
    // margin-block: 1rem
}

.other_card_container{
    @include bgShadow
}
.other_title{
    @include fontColor($default-font-size,$color-primary,$fw-medium);
}
.other_info_container{
    display: grid;
    // grid-template-columns: repeat(auto-fit,minmax(0,1fr));
    align-items: center;
    // gap: 10rem;
    row-gap: 3rem;

    @include respond(phone ){
        grid-template-columns: repeat(2,1fr) !important;
    }
    
}
.other_texttitle_container{
    display: grid;
    gap: 1rem;
//    margin-right: auto;
}
.other_text_header{
    @include fontColor($font-size-small,$color-primary-light,$fw-medium);
    text-transform: uppercase;
}
.other_text{
    @include fontColor($default-font-size,$color-primary-light,$fw-medium);
    text-transform: capitalize;
}

.grid4{
    grid-template-columns: repeat(4, 1fr);
}
.grid5{
    grid-template-columns: repeat(5, 1fr);
}